@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
  <div class="error_page">
    <img alt="Kidmondo_face_sad" src="~/Content/images/kidmondo_face_sad.gif" />
    <h1>We're sorry...</h1>
    <p>The action cannot be completed.</p>
    <p><a href="~/Home/Index">Return to Main</a></p>
  </div>
</hgroup>
