@model IEnumerable<HelpingHeartsService.AEdLocation>

@{
  ViewBag.Title = "Index";
}

@*<p>
  @Html.ActionLink("Create New", "Create")
</p>*@
<ul data-role="listview">


  @foreach (var item in Model)
  {
    <li>
      @Html.ActionLink(item.FirstName + " " + item.LastName, "Edit", new { id = item.ID })
    </li>
  }

</ul>
