@{
  ViewBag.Title = "HelpingHearts.ie";
}



<ul data-role="listview" data-inset="true">
  <li>@Html.ActionLink("Locate AED", "Map", "Home")</li>
</ul>
<div data-role="controlgroup">
  <a data-role="button" href="#">Adult CPR</a>
  <a data-role="button" href="#">Child CPR</a>
</div>
<div data-role="controlgroup">
  <a data-role="button" href="#">Choking</a>
  <a data-role="button" href="#">Signs of Stroke</a>
</div>


