@{
    ViewBag.Title = "Map";
}
<div  id="map-canvas" style="width:100%;height:100%"></div>

@section scripts {
  <script type="text/javascript">
    $("div[data-role='page']").on("pageshow", function () {
      mapInfo.getLocation();
    });
  </script>
}
